<div class="main-box">
  <h1 class="main-box__title">Angular Signals Todo List</h1>
  <input type="text" placeholder="Add a new todo" [(ngModel)]="newTodo.text" class="main-box__input">
  <button (click)="addTodo()" class="main-box__add-btn">Add</button>

  <div class="main-box__status-btn">
    <button class="main-box__status-btn-separate" [class.active]="todoService.filter()==='all' " (click)="todoService.setFilter('all')">All</button>
    <button class="main-box__status-btn-separate" [class.active]="todoService.filter()==='active' " (click)="todoService.setFilter('active')">Active</button>
    <button class="main-box__status-btn-separate" [class.active]="todoService.filter()==='completed' " (click)="todoService.setFilter('completed')">Completed</button>
  </div>

  @if(todoService.lastAddedTodo() !== null) {
    <p>This is last added todo: {{todoService.lastAddedTodo()?.text}}</p>
  }

  @switch (todoService.filter()){
    @case ('all') {
      <p>Showing all todos</p>
    }
    @case ('active') {
      <p>Showing active todos</p>
    }
    @case ('completed') {
      <p>Showing completed todos</p>
    }
    @default {
      <p>Showing empty state</p>
    }
  }

  @if(todoService.remainingList().length === 0  && todoService.completedList().length === 0) {
    <p>Add the first task</p>
  } @else if (todoService.remainingList().length === 0) {
    <p>All tasks were completed</p>
  } @else {
    <p>You still have some tasks</p>
  }

<!--  <ul *ngFor="let todo of todoService.filteredTodo(); let i = index" class="main-box__todo-list">-->
<!--    <li class="main-box__todo-list-item">-->
<!--      <input type="checkbox" [checked]="todo.isCompleted" (click)="todoService.updateTodoStatus(todo)" class="main-box__todo-list-item-checked">-->
<!--      <span>{{todo.text}}</span>-->
<!--      <span class="main-box__todo-list-item-remove" (click)="todoService.removeToDo(i)">X</span>-->
<!--    </li>-->
<!--  </ul>-->

  <ul class="main-box__todo-list">
    @for(todo of todoService.filteredTodo(); track $index; let i = $index; let last = $last){
      <li class="main-box__todo-list-item">
        @if(!todo.isCompleted) {
          <input type="checkbox" [checked]="todo.isCompleted" (click)="todoService.updateTodoStatus(todo)" class="main-box__todo-list-item-checked">
          <a [routerLink]="['/todo', todo.id]" class="main-box__todo-details">{{todo.text}}</a>
          <span class="main-box__todo-list-item-remove" (click)="todoService.removeToDo(i)">X</span>
          }
        @else {
          <input type="checkbox" [checked]="todo.isCompleted" (click)="todoService.updateTodoStatus(todo)" class="main-box__todo-list-item-not-checked">
          <a [routerLink]="['/todo', todo.id]">{{todo.text}}</a>
          <span class="main-box__todo-list-item-remove" (click)="todoService.removeToDo(i)">X</span>
          }
      </li>
    }
  </ul>

  <div class="main-box__clear-btn-container">
    <button class="main-box__clear-btn" (click)="todoService.clearAll()"> Clear All</button>
  </div>


@defer (on idle) {
  <app-todo-statistics></app-todo-statistics>
} @placeholder {
  <p>Statistic will load soon</p>
} @loading {
  <p>Loading statistic</p>
} @error {
  <p>Ooops!</p>
}
</div>

@defer (on interaction) {
  <app-profile-form></app-profile-form>
} @placeholder {
  <button class="profile-form-btn">Click to load profile form</button>
} @loading {
  <p>Loading form</p>
} @error {
  <p>Failed to load</p>
}

@defer (on viewport) {
  <app-todo-tips></app-todo-tips>
} @placeholder {
  <p>Tips are in progress</p>
} @loading {
  <p>Tips are loadings</p>
} @error {
  <p>Something went wrong</p>
}

@defer (on idle) {
  <app-todo-quotes></app-todo-quotes>
} @placeholder {
  <p>Quotes will load soon</p>
} @loading {
  <p>Loading quotes</p>
} @error {
  <p>Failed to load</p>
}
