.details-box {
  width: 280px;
  border: 1px solid #cfcdcd;
  border-radius: 10px;

  &__text {
    padding-left: 10px;
  }

  &__btn {
    margin: 10px;
    padding: 10px;
    background-color: #0e8bd3;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: #074c77;
  }

  &__btn-back {
    background-color: #e1b67e;
  }
}
